
.login-button{
    background-color:transparent !important;
    color:black !important;
    font-family: 'Nunito', serif;
    font-size:15px !important;
    font-weight:800 !important;
    position:relative !important;
    z-index:1;
    border-radius:3px;
    text-align: center !important;
    border:none !important;
    transition: 0.4s !important;
    text-align: center !important;

}
@media only screen and (max-width: 600px) {
    .login-button {
        font-size:10px !important;
    }
}

.login-button:hover:before{
    background-color:white;
}


.login-button::before{
    content:" ";
    width:100%;
    height:100%;
    position:absolute;
    background:#baa000   ;
    z-index:-1;
    border-radius:3px;
    transition: 0.4s !important;

}


